{% extends 'registration/base.html' %}

{% block title %} Form Complete {% endblock title %}

{% load static %}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'global.css' %}">
	<link rel="stylesheet" href="{% static 'login/styles.css' %}">
</head>

<body>
	<img id="hknlogo" src="{% static 'HKN-Vector-White.png' %}" alt="HKN Logo">
	<div id="logincard">
      <p style="text-align: center">Thank you for completing the form! <br>
         Your roles and permissions have been updated. <br>
			<a href="{% url 'spa' %}">Back to home</a>
		</p>
   </div>
</body>
{% endblock content %}