{% extends 'registration/base.html' %}

{% block title %} Form Complete {% endblock title %}

{% load static %}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'frontend/global.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/login/styles.css' %}">
</head>

<body>
	<img id="hknlogo" src="{% static 'frontend/HKN-Vector-White.png' %}" alt="HKN Logo">
	<div id="logincard">
      <p style="text-align: center">Thank you for completing the form! <br>
         Your roles and permissions have been updated.</p>
   </div>
</body>
{% endblock content %}