{% extends 'registration/base.html' %}

{% block title %} HKN @ UCSD | Inductee Registration {% endblock title %}

{% load static %}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'frontend/global.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/login/styles.css' %}">
</head>

<body>
   <img id="hknlogo" src="{% static 'frontend/HKN-Vector-White.png' %}" alt="HKN Logo">
	<div id="logincard">
      {% if user.is_authenticated %}
         <form method="POST" class="childrencentered">
            {% csrf_token %}
            <p>Congratulations! You've been selected to induct to Eta Kappa Nu 
               (HKN), the Official Honor Society of IEEE.
               We are so happy to see that you are interested in inducting.<br>
               <br>
               Please fill out this form to begin your induction process. There 
               is no risk in filling out this form (you can opt-out at any time 
               by unsubscribing or ignoring the emails), but it is mandatory 
               for you to fill out this form in order to induct!
            </p>
         </form>
      {% else %}
         <p>You are not logged in, please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> an account.</p>
   </div>
</body>

{% endblock content %}