{% extends 'registration/base.html' %}

{% block title %} Inductee Registration {% endblock title %}

{% load static %}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'global.css' %}">
	<link rel="stylesheet" href="{% static 'login/styles.css' %}">
</head>

<body>
   <img id="hknlogo" src="{% static 'HKN-Vector-White.png' %}" alt="HKN Logo">
	<div id="logincard">
      <p>Invalid link, please check you have entered the url correctly.</p>
      <p>If the issue persists, please contact an officer on our <a href=https://discord.gg/dX7xc73>discord server</a>.</p>
   </div>
</body>
{% endblock content %}