{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'frontend/global.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/login/styles.css' %}">
</head>

<body>
    <img id="hknlogo" src="{% static 'frontend/HKN-Vector-White.png' %}" alt="HKN Logo">
    <div id="logincard">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="childrencentered">
        {% csrf_token %}
        <table class="childrencentered">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox" value="staylogged" name="staylogged"></td>
            </tr>

            <!-- {{ loginform.as_table }} -->
        </table>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you set up the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
</body>

</html>