{% extends 'registration/base.html' %}

{% block title %} Login {% endblock title %}

{% load static %}

{% block content %}
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'login/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'login/login.js' %}"></script>

</head>

<body>
    <div class="container">
        <!-- Left Column -->
        <div class="left-column">
            <img id="hknlogo" src="{% static 'HKN-Vector-White.png' %}" alt="HKN Logo">
            <p class="tagline">The Premier Engineering <br> Honor Society of UCSD</p>
        </div>

        <!-- Right Column -->
        <div class="right-column">
            <div id="logincard">
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
                <form method="POST" class="childrencentered">
                    {% csrf_token %}
                    <h1>Welcome back!</h1>
                    <table>
                        <tr>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>

                    <a href="{% url 'password_reset' %}" class="forgot-password">Forgot your password?</a>

                    <input type="submit" value="Sign in">
                    
                    <p class="register-text">
                        Don't have an account? <a href="{% url 'register' %}">Sign up</a>
                    </p>
                </form>
            </div>
            <img class="hknmascot" src="{% static 'hkn_mascot.png' %}" alt="HKN Mascot">
        </div>
    </div>
</body>
</html>
{% endblock content %}