{% extends 'registration/base.html' %}

{% block title %} Outreach Student Registration {% endblock title %}

{% load static %}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'global.css' %}">
	<link rel="stylesheet" href="{% static 'login/styles.css' %}">
</head>

<body>
   <img id="hknlogo" src="{% static 'HKN-Vector-White.png' %}" alt="HKN Logo">
	<div id="logincard">
      {% if user.is_authenticated %}
         <form method="POST" class="childrencentered">
            {% csrf_token %}
            <h1>Outreach Student Form</h1>
            <p style="text-align: center; width:80%; margin-bottom: 0">
               Please provide the following information to complete your outreach profile.
            </p>
            <table style="border-spacing: 10px; display: flex;" class="childrencentered">
               {% for field in form %}
                  <tr>
                     <td>{{ field.label_tag }}</td>
                     <td>{{ field }}</td>
                  </tr>
               {% endfor %}
               {% for field in form %}
                  {% if field.errors %}
                  <tr>
                     <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                     </ul>
                  </tr>
                  {% endif %}
               {% endfor %}
            </table>
            <input type="submit" value="Submit"/>
         </form>
      {% else %}
         <p>You are not logged in, please <a href="{% url 'login' %}?next=/outreach_form/">login</a> or <a href="{% url 'register' %}?next=/outreach_form/">register</a> an account.</p>
      {% endif %}
   </div>
</body>

{% endblock content %}