{% extends 'registration/base.html' %}

{% block title %} Reset Password {% endblock title %}

{% load static %}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'frontend/global.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/login/styles.css' %}">
</head>

<body>
   <img id="hknlogo" src="{% static 'frontend/HKN-Vector-White.png' %}" alt="HKN Logo">
	<div id="logincard">
      <p>Invalid token, please check you have entered the url correctly.</p>
      <p>If the issue persists, please try <a href="{% url 'password_reset' %}">reset password</a> again.</p>
   </div>
</body>
{% endblock content %}