{% extends 'registration/base.html' %}

{% block title %} Forgot Password? {% endblock title %}

{% load static %}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'global.css' %}">
	<link rel="stylesheet" href="{% static 'login/styles.css' %}">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="{% static 'login/login.js' %}"></script>
</head>

<body>
   <div class="container">
      <!-- Left Column -->
      <div class="left-column">
         <img id="hknlogo" src="{% static 'HKN-Vector-White.png' %}" alt="HKN Logo">
         <p class="tagline">The Premier Engineering <br> Honor Society of UCSD</p>
      </div>

      <!-- Right Column -->
      <div class="right-column">
         <form method="POST" class="childrencentered">
            {% csrf_token %}
            <h1>Reset Password</h1>
            <p style="text-align: center; margin-top: 0; margin-bottom: 0">To reset your password, please enter your email below.</p>
            <table style="border-spacing: 10px; display: flex;" class="childrencentered">
               {% for field in form %}
               <tr>
                  <td>{{ field.label_tag }}</td>
                  <td>{{ field }}</td>
               </tr>
               {% endfor %}
               {% for field in form %}
                  {% if field.errors %}
                  <tr>
                     <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                     </ul>
                  </tr>
                  {% endif %}
               {% endfor %}
            </table>
            <input type="Submit" value="Submit"/>
            <a href="{% url 'login' %}" class="return-login">Back to login</a>
            <script>
               document.querySelector('#id_email').focus();
            </script>
         </form>
         <img class="hknmascot" src="{% static 'hkn_mascot.png' %}" alt="HKN Mascot">
      </div>
   </div>
</body>
{% endblock content %}