{% load static %}
<p>Hi {{ user.first_name }},</p>

<p>
   You're receiving this email because you requested a password reset for your HKN Portal account at portal.hknucsd.com.
   <br>
   If you did not request this password reset, please disregard this email.
   <br>
   Otherwise, please use this <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">link</a> to reset your password.
</p>

<p>
   Here is the link in case the above hyperlink does not work:
   {{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}
</p>

<p>
   Thanks
   <br>
   UCSD HKN
</p>