{% extends 'registration/base.html' %}

{% block title %} HKN @ UCSD | Registration {% endblock title %}

{% load static %}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'frontend/global.css' %}">
	<link rel="stylesheet" href="{% static 'frontend/login/styles.css' %}">
</head>

<body>
	<img id="hknlogo" src="{% static 'frontend/HKN-Vector-White.png' %}" alt="HKN Logo">
	<div id="logincard">
		<form method="POST" class="childrencentered">
			{% csrf_token %}
			<h1>Guest Account Registration</h1>
			<table style="border-spacing: 10px; display: flex;" class="childrencentered">
				{% for field in form %}
					<tr>
						<td>{{ field.label_tag }}</td>
						<td>{{ field }}</td>
					</tr>
				{% endfor %}
				{% for field in form %}
					{% if field.errors %}
					<tr>
						<ul class="errorlist">
							{% for error in field.errors %}
							<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</tr>
					{% endif %}
				{% endfor %}
			</table>
			<input type="submit" value="Register"/>
			<p>Already have an account? <a href="{% url 'spa' %}">Login</a></p>
		</form>
		<script>
			document.querySelector('#id_first_name').focus();
	   </script>
	</div>
</body>
{% endblock content%}