.venv/
venv/
env/
inductees/
officers/
settings.json
db.sqlite3
db.sqlite3.*
db.sqbpro
.zshrcT
*__pycache__*
myapp/*__pycache__*
myapp/**/__pycache__
/public/build/
frontend/node_modules
frontend/dist
myapp/static/bundle.*
myapp/staticfiles/*
.env
.ssh
hkn-portal.pem
key_pair_1.pem
hkn_portal_2025.pem

frontend.dev.log

# Remove before deploying!!!!!
myapp/*/migrations
.DS_Store
node_modules/