name: Deploy to Ubuntu Server

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: SSH to Remote Server
        uses: appleboy/ssh-action@master
        with:
          host: 52.9.199.73
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY_25_26 }}
          port: 22
          script: |
            cd hkn-portal
            git pull
            sudo rm -rf venv
            python3 -m venv venv
            source venv/bin/activate
            pip install -r requirements.txt
            
            python manage.py makemigrations
            python manage.py migrate
            cd frontend
 
            npm ci
            npm run build
            cd ..
            python manage.py collectstatic --noinput
            sudo service apache2 restart
